/* Universal Styles */
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

main {
    margin: auto; 
    max-width: 1300px;
}
/* Header section */
header {
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    position: fixed;
    height: 69px;
    width: 100%;
    align-items: center;
    z-index: ;
    top: 0;
}

header img {
    height: 50px;
    margin-left: 10px;
}

nav {
    margin-left: auto;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

li a {
    color: seashell;
    text-decoration: underline;
    text-align: center;
    margin: 10px;
}

/* Mission section*/

#mission {
    background-image: url('./images/img-mission-background.webp');
    background-size: cover;
    height: 700px;
    width: 1200px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.our-mission {
    background-color: black;
    align-content: center;
    width: 1200px;
}

h2, h4 {
    text-align: center;  
}

/* Featured Tea section */

#featured {
    width: 1000px;
    border: 1px solid red;
    margin: auto;
}

.featured-tea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: 300px;
    height: 200px;
    margin:0 15px;
}
